/*
#0A2239 Background
#53A2BE Section
#1D84B5 Border
#132E32 Text
#176087
*/

/* Navigation Bar */
nav{
  background: #53A2BE;
  margin: 1% auto 1% auto;
  width: 40%;
  text-align: center;
  padding: .01%;
  border: 4px solid #1D84B5;
  border-radius: 9px;
}


nav p a {
  padding: 6px;
}




body {
  background: #0A2239;
  color: #132E32;
}


/* Main Section */
.main {
  background: #53A2BE;
  margin: 0 auto 0 auto;
  width: 80%;
  text-align: center;
  border: 4px solid #1D84B5;
  border-radius: 5px;
}

/* Listing in About and MainPage */
.list {
  display: inline-block;
}

a:link, a:visited {
  color: #132E32;
}

/* Project Page */
.projSection {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
}

.githubTitle {
  margin-top: 5%
}
